<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <img src="/images/jc.jpeg" alt="imagen del autor" height="128" width="150">
    <p><span></span>: Juan Carlos Sánchez</p>
  </body>
</html>
